# macOS
.DS_Store

# Simulation binaries
build/
simv
simv_*
simv*.daidir/
csrc/
ucli.key
command.log

# VCD waveforms
*.vcd

# Synopsys DC generated outputs
alib-*/
default.svf
syn/logs/
syn/mapped/
syn/reports/
syn/work/
syn/runs/

# Development testbenches
sim_0/
